<%= render 'layouts/container_base', title:'Administración de habitaciones',
    paragraph:
    "Los tipos de habitaciones son todas aquellas agrupaciones de "+
    "habitaciones que comparten ciertas caracteristicas que le dan un "+
    "valor diferenciado respecto a otras habitaciones del mismo hostal. "+
    "Aquí podrá administrar los tipos de habitaciones existentes en "+
    "su recinto y definir el número de habitaciones que se correspondan "+
    "con dicho tipo." do %>

<div id="room-type-list" class="col">
  <%= render 'room_type_list' %>
</div>
<% end %>
<%= render 'layouts/modal', id:'room-type-add-modal', title:'Añadir tipo de habitación' %>
<%= render 'layouts/modal', id:'room-type-edit-modal', title:'Editar tipo de habitación' %>
