var mymap = null;
document.addEventListener("turbolinks:load", function() {
  if(document.getElementById('region_id')) {
    changeCommunes(document.getElementById('region_id'), '#commune_id');
  }
  if(document.getElementById("hostel-map")) {
    mymap = createMap("hostel-map");
    mymap = L.marker([
      document.getElementById("hostel-map").dataset.lat,
      document.getElementById("hostel-map").dataset.long]
    ).addTo(mymap);
  }

  if(document.getElementById("all-hostels-map")) {
    mymap = createMap("all-hostels-map");
    $.getJSON('/hostels', function(hostels, textStatus) {
      hostels.forEach((hostel) => {
        let marker = L.marker([hostel.latitude, hostel.longitude]).addTo(mymap);
        marker.hostel_id = hostel.id;
      });
    });
    mymap.on('moveend', (e) => updateByMap(mymap));
  }
  $('#card-by-map').css('display','none');
});

document.addEventListener("turbolinks:before-cache", function() {
  mymap.remove();
  $('#card-by-form').css('display','flex');
});

function changeCommunes(regions_select, communes_select) {
  let communes_fist_value = $('option', communes_select)[0];
  $('option', communes_select).remove();
  $(communes_select).append(communes_fist_value);
  $.get({
    url: '/api/region/'+regions_select.value,
    dataType: 'json'
  })
  .done(function(json) {
    json.communes.forEach((e) => {
      $(communes_select).append(new Option(e.short_name, e.id));
    });
  })
  .fail(function(error) { console.log(error) });
}

function fadeFormMap() {
  if ($('#card-by-form').css('display') == 'none') {
    Rails.fire(document.getElementById('form-by-form'), 'submit');
  }
  if ($('#card-by-map').css('display') == 'none') {
    updateByMap(mymap);
  }
  $('.hostel-filter-search').fadeToggle();
}

function createMap(id){
  let zoom      = document.getElementById(id).dataset.zoom || 13;
  let latitude  = document.getElementById(id).dataset.lat;
  let longitude = document.getElementById(id).dataset.long;

  let map = L.map(id).setView([latitude, longitude], zoom);

  L.tileLayer(
    'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',
    {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1IjoicGF0cmljaW9wZW5hbXVub3oiLCJhIjoiY2pxenc5ajFsMGlvejRhcGJrazA5aDgxZiJ9.--sCYLDz82WTD-pvaYMXww'
    }).addTo(map);

  return map;
}

function getMarkers(map) {
  let layers = [];
  map.eachLayer((layer) => {
    if(layer.options && layer.options.pane === "markerPane") {
      layers.push(layer);
    }
  });
  return layers;
}

function getVisibleMarkers(map) {
  let layers = [];
  getMarkers(map).forEach((layer) => {
    if (map.getBounds().contains(layer.getLatLng())) {
      layers.push(layer);
    }
  });
  return layers;
}

function updateByMap(map) {
  $("#form-by-map input[name='hostels_id[]']").remove();
  getVisibleMarkers(map).map((m) => m.hostel_id).forEach((id) => {
    let tag = `<input type='hidden' name='hostels_id[]' value='${id}' />`;
    $('#form-by-map').append(tag);
  });
  Rails.fire(document.getElementById('form-by-map'), 'submit');
}
