// Place all the styles related to the room_types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-new{
  color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s;
  cursor: pointer;
}

.add-new i{
  color: rgba(0, 0, 0, 0.6);
  margin: 10px;
  font-size: 50px;
}

.add-new:hover{
  background-color: #ec8683;
}
