// Place all the styles related to the room_types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-new{
  color: rgba(0, 0, 0, 0.8);
}

.add-new, .card.room-type .text-container {
  transition: background-color 0.3s;
  cursor: pointer;
}

.add-new i{
  color: rgba(0, 0, 0, 0.6);
  margin: 10px;
  font-size: 50px;
}

.add-new:hover{
  background-color: #ec8683;
}

.card.room-type {
  height: 150px;
  margin-bottom: 10px;
  .floating {
    position: absolute;
    left: 0;
    top: 0;
  }
  .text-container{
    padding-top: 10px;
    padding-left: 30%;
    height: 100%;
    width: 100%;
    background-color: rgba(236, 134, 131, 0);
  }
  .text-container:hover{
    background-color: rgba(236, 134, 131, 0.4);
  }
  .degradation {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 30%);
  }
  .card-body {
    position: relative;
    overflow: hidden;
    img.room-type {
      height: 100%;
      width: 100%;
    }
  }
}
