<div class="jumbotron jumbotron-fluid principal">
  <div class="container">
    <h1 class="display-4">Busca tu hostal ideal, al mejor precio</h1>
    <p class="lead">Busca entre cientos de hostales y encuentra el que mejor se adapte a tus necesidades.</p>
  </div>
</div>
<div class="container-fluid">
  <h1>Últimos hostales públicados</h1>
</div>
