<div class="jumbotron jumbotron-fluid principal">
  <div class="container">
    <h1 class="display-4">Busca tu hostal ideal, al mejor precio</h1>
    <p class="lead">Busca entre cientos de hostales y encuentra el que mejor se adapte a tus necesidades.</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Últimos hostales públicados</h1>
    </div>
  </div>
  <div class="row">
    <% @hostels.each do |hostel| %>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card showcase">
          <%= image_tag hostel.principal_image.variant(resize: "400x400"),
          class: 'card-img-top' %>
          <div class="card-body">
            <h4><%= hostel.name %></h4>
            <h6><%= hostel.address %></h6>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to 'Ver más hostales' %>
    </div>
  </div>
</div>
<div class="separator-2"></div>
