<%= render 'layouts/container_base', title:'Hostales' do %>
<div class="col-7">
  <h3>Listado</h3>
  <div class="hostels-list">
    <%= render @hostels %>
  </div>
</div>
<%= render 'index_filter' %>
<% end %>
