<div class="container-fluid">
  <h1>Registrar nuevo hostal</h1>
  <p>Llene el siguiente formulario para registar su hostal.</p>
  <%= render 'form', hostel: @hostel %>
  <div class="separator-1"></div>
  <%= link_to 'Volver', dashboard_index_path %>
</div>
<div class="separator-2"></div>
