<%= render 'layouts/container_base', title:'Registrar nuevo hostal',
    paragraph:'Llene el siguiente formulario para registar su hostal.' do %>
  <div class="col">
    <%= render 'form', hostel: @hostel %>
    <div class="separator-1"></div>
    <%= link_to 'Volver', dashboard_hostels_path %>
  </div>
<% end %>
